[user]
	name = Samer Masterson
	email = samer@samertm.com
[merge]
	conflictstyle = diff3
        renamelimit   = 10000

[alias]
        st            = status
        co            = checkout
        rb            = rebase
        changes       = diff --name-status -r
        diffstat      = diff --stat -r
        cl            = clone
        shallow-clone = clone --depth=1
        scl           = clone --depth=1
        subt          = subtree
        subta         = subtree add

[format]
        pretty = format:"%C(auto,yellow)commit %H%d%C(auto,reset)\nAuthor: %an <%ae>\nDate:   %cd\n\n%w(0,4,4)%B"

[log]
        date = local
[push]
	default = simple
